<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <style>
        .completed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
    </style>
    <script src="angular.js"></script>
    <script>
    
    //var activationTime = new Date();
    var taskApp = angular.module('taskApp',[]);
    taskApp.value("activationTime", new Date());
    taskApp.factory('Task', function(activationTime){
        //do something with activationTime (dependency);
        function Task(defaults){
            this.id = defaults.id || -1;
            this.name = defaults.name || "";
            this.isCompleted = defaults.isCompleted || false;
        }
        Task.prototype.toggle = function(){
            this.isCompleted = !this.isCompleted;
        }
        //Task.activationTime = activationTime;
        return Task;
    });
        
    taskApp.service('taskStorage',function ($window,Task){
            console.log("One instance of taskStorage created");
            var storage = $window.localStorage; 
            this.getAll = function (){
                var tasks = [];
                for(var i =0;i<storage.length;i++){
                    var key = storage.key(i);
                    var dataStr = storage.getItem(key);
                    var taskData = $window.JSON.parse(dataStr);
                    var task = new Task(taskData);
                    tasks.push(task);
                }
                return tasks;
            };
            this.add = function(taskName){
                var id = new Date().getTime().toString();
                var task = new Task(id,taskName,false);
                storage.setItem(task.id
                                    ,$window.JSON.stringify(task));
                return task;
            };
            this.update = function(task){
                storage.setItem(task.id
                                ,$window.JSON.stringify(task));
            };
            this.remove = function(task){
                storage.removeItem(task.id);
            }

        });
    
    taskApp.controller('taskController', function ($scope,taskStorage){
        console.log("from taskController", taskStorage);
        $scope.tasks = taskStorage.getAll();
        
        $scope.getCompletedCount = function(){
            return $scope.tasks.reduce(function(s,t){
                 return s + (t.isCompleted ? 1 : 0);
            },0);
        }
        $scope.addTask = function(newTask){
            var task = taskStorage.add(newTask);
            $scope.tasks.push(task);
            
        };
        $scope.toggleCompletion = function(task){
            task.toggle();
            taskStorage.update(task);  
        };
        
        $scope.removeCompleted = function(){
            for(var i=$scope.tasks.length-1;i>=0;i--)
                if ($scope.tasks[i].isCompleted){
                    taskStorage.remove($scope.tasks[i]);
                    $scope.tasks.splice(i,1);
                }
        }
    });
    taskApp.controller("dummyController",function(taskStorage){
        console.log("from dummyController", taskStorage);
    });
    </script>
</head>
<body ng-controller="taskController" >
    <h1>Task Manager - ({{getCompletedCount()}} / {{tasks.length}})</h1>
    <hr>
    <form name="taskForm">
    <label for="">Task :</label>
    <input type="text" name="txtTask" id="txtTask" ng-model="newTask" ng-model-options="{updateOn : 'blur'}" ng-keyup="cancel($event)">
    <input type="button" value="Add Task" id="btnAdd" ng-click="addTask(newTask)">
    <input type="button" id="btnRemoveCompleted" value="Remove Completed" ng-click="removeCompleted()"></input>
    </form>
    <ul>
        <li ng-repeat="task in tasks" ng-click="toggleCompletion(task)" ng-class="{completed : task.isCompleted}">{{task}}</li>
    </ul>
    <div id="divMessage"></div>
    <div ng-controller="dummyController"></div>
</body>
</html>